* {
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

body {
  font-family: "Lato", sans-serif;
}

/* .container {
  border: solid black 2px;
} */
#card {
  animation: isCorrect;
  animation-duration: 1s;
}

@keyframes isCorrect {
  from {
    transform: rotate(45deg);
  }

  to {
    transform: rotate(0);
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 900px;
  }
}
