* {
  box-sizing: border-box;
  /* transition: all 0.2s ease-in-out; */
  transition: background 0.3s ease-in-out;
}

body {
  font-family: "Lato", sans-serif;
  /* background-image: url("https://images.unsplash.com/photo-1486299267070-83823f5448dd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

/* .container {
  border: solid black 2px;
} */
#card {
  animation: isCorrect;
  animation-duration: 1s;
}

@keyframes isCorrect {
  from {
    transform: rotate(45deg);
  }

  to {
    transform: rotate(0);
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 900px;
  }
}
