* {
  box-sizing: border-box;
}

/* .container {
  border: solid black 2px;
} */
#card {
  animation: isCorrect;
  animation-duration: 1s;
}

@keyframes isCorrect {
  from {
    transform: rotate(45deg);
  }

  to {
    transform: rotate(0);
  }
}
